<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>URI_GITHUBAPI_USERSLIST</key>
	<string>https://api.github.com/users</string>
	<key>URI_GITHUBAPI_USERDETAILS_PREFIX</key>
	<string>https://api.github.com/users/</string>
	<key>XC_PERSISTENT_CONTAINER_NAME</key>
	<string>RAFGithubUsersApp</string>
	<key>URI_GITHUBAPI_ACCESS_TOKEN</key>
	<string>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</string>
</dict>
</plist>
